body {
    background-color: rgb(90,60,77);
    text-align: center;
    font-style: italic;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10em;
    color: white;
    margin-bottom: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;

}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    font-size: 4em;
    text-shadow: black 0.1em 0.1em 0.2em;
}
a {
    display: inline-block;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

